doctype html
html(lang="en" ng-app="solnet")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Solnet Dashboard
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="icon", href="favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans")

    //Insert CSS CDN Links here. These are the dependencies which are not downloaded in the server
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css")
    
    // STYLES
    link(rel="stylesheet", href="/styles/importer.css")
    // STYLES END
    
  body
    div.main-canvas-wrapper(ng-controller="AppController as ctrl")
       #main-canvas.container-fluid
          .main-canvas-row.row
              #sidebar.main-canvas-cell.col-md-2.col-sm-1.hidden-xs
                //LOGO
                .logo
                  a(href="#/home")
                    img.hidden-xs.hidden-sm(src="images/logo.png")
                //NAVIGATOR
                .navigator
                  ul.sidebar-nav
                    li(ng-repeat="menu in ctrl.menus")
                      a(href="{{ menu.href }}")
                        i(class="fa {{ menu.icon }}" aria-hidden="true")
                        span.hidden-xs.hidden-sm
                          | {{ menu.title }}
              .main-canvas-cell.col-md-10.col-sm-11
                .row
                  //HEADER
                  header
                    .col-md-7
                      nav.navbar-default.pull-left
                        .navbar-header
                          button.navbar-toggle.collapsed(type="button", data-toggle="offcanvas", data-target=".navigator", aria-expanded="false")
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                      div.hidden-xs.hidden-sm
                        input(placeholder="Search" type="text" ng-model="ctrl.selected" uib-typeahead="tag for tag in ctrl.tags | filter:$viewValue | limitTo:8" class="form-control")
                    .col-md-5
                      ul.list-inline.header-top.pull-right
                        li
                          a.icon-info(href="#")
                            i.fa.fa-bell(aria-hidden="true")
                            span.label.label-primary 3
                    
                //CONTENT VIEW
                .main-view(ui-view="contentview")

    //Insert JS CDN Links here. These are the dependencies which are not downloaded in the server
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js")    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.0/Chart.bundle.min.js")
    script(src="http://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js")
    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/dependencies/ui-bootstrap-tpls-2.0.0.min.js")
    script(src="/js/app.module.js")
    script(src="/js/app.config.js")
    script(src="/js/solnet.modules.js")
    script(src="/js/solnet.components.js")
    script(src="/js/solnet.services.js")
    script(src="/js/app.controller.js")
    script(src="/js/analytics.controller.js")
    script(src="/js/calendar.controller.js")
    script(src="/js/dashboard.controller.js")
    script(src="/js/dashboard.service.js")
    script(src="/js/doughnutgraph.controller.js")
    script(src="/js/inbox.controller.js")
    script(src="/js/linegraph.controller.js")
    script(src="/js/progresslist.controller.js")
    script(src="/js/settings.controller.js")
    script(src="/js/statswidget.controller.js")
    script(src="/js/timemngt.controller.js")
    // SCRIPTS END
   