div(style="padding-top: 10px;")
    canvas#doughnut.chart.chart-doughnut(chart-data='data', chart-labels='labels' 
        chart-options='chartOption' chart-dataset-override='datasetOverride' chart-colors="colors" height='100%')