div(style="padding: 10px;")
    canvas#line.chart.chart-line(chart-data='data', chart-labels='labels', 
        chart-legend='true', chart-series='series', chart-click='onClick' 
        chart-options='chartOption' chart-dataset-override="datasetOverride" height='100%')