@m-height: 350px;
@m-height-lg: 400px;
@m-padding: 20px;
@widget-bg: #FFFFFF;

.dashboard-wrapper .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.dashboard-wrapper .row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.timeline-selection
{
    background: #DAE1E8;
    border-radius: 50px;
}

.week-selection
{
    background: transparent;
    -webkit-box-shadow: transparent;
    box-shadow: transparent;
    border: 0;
}

.wavy-lines-wrapper
{
    background: @widget-bg;
    min-height: @m-height;
    margin-bottom: @m-padding;
}

.graph-header
{
    padding: 20px;
}
.stat-wrapper
{
    height: @m-height-lg;
    min-height: @m-height-lg;
    margin-bottom: @m-padding;
}

.stat-wrapper > [class*='col-'] > div {
    background: @widget-bg;
    height: 100%;
}

.progress-list-wrapper
{
    height: @m-height;
    max-height: @m-height;
    margin-bottom: @m-padding;
    overflow: auto;
}

.client-hours-wrapper
{
    .total-label
    {
        text-align: center;
        margin-top: 20px;
    }
}

.client-invoice-wrapper
{
    .client-profile-wrapper 
    {
        text-align: center;
        padding: 20px;
        > img
        {
            width: 100px;
            height: 100px;
            margin: 10px;
        }
    } 
    .col-md-6
    {
        padding: 10px;
        text-align: center;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;

        >span
        {
            display: block;
        }
    }

    .col-md-6:first-child
    {
        border-right: 1px solid #ddd;
    }

    .table-row-header
    {
        color: rgba(0,0,0,0.25);
    }
    .table-row-value
    {
        font-size: 1.1em;
        font-weight: 600;

    }

    .send-invoice-btn
    {
        padding: 30px;
        text-align: center;
        font-weight: bold;
        
        >a
        {
            color: #49C5EA;
        }
    }
}

.total-overdue-wrapper
{
    .total-label
    {
        text-align: center;
        padding: 30px;
        display: inline-block;
        width: 100%;
    }

    .export-btn
    {
        padding: 30px;

        > a
        {
            color: #9EB0C3;
        }        
    }
}

.legend-wrapper
{
    padding: 30px;

    > div
    {
        margin-bottom: 15px;

        > i, span
        {
            margin-right: 20px;
        }
    }
}
