.dashboard-wrapper
    .row
        div.col-md-12
            span.header-text
                | Hi Joan,
            span
                | Check out your latest projects and their progress.
            hr
    .row
        div.col-md-12
            .wavy-lines-wrapper
                .graph-header.col-md-12
                    div.col-md-9
                        span.header-text
                            | Wavy Lines
                        span
                            | Working Hours
                    div.col-md-3.pull-right
                        select.form-control.week-selection(ng-model="vm.wh_week_selected" ng-change="vm.wh_week_changed()")
                            option(ng-repeat="week_option in vm.week_options" value="{{ week_option.value }}")
                                | {{ week_option.label }}
                linegraph(labels="vm.wavylines.label" series="vm.wavylines.series" data="vm.wavylines.data" vline="false")
    .row
        div.col-md-10
            span.header-text
                | Crunch some Numbers
            span
                | See how your projects are progressing via the new statistics engine.
        div.col-md-2.pull-right
            select.form-control.timeline-selection(ng-model="vm.timeline1_selected" ng-change="vm.timeline1_changed()")
                option(ng-repeat="timeline_option in vm.timeline_options" value="{{ timeline_option.value }}")
                    | {{ timeline_option.label }}
        div.col-md-12
            hr
    .row.stat-wrapper
        div.col-md-4
            .widget-wrapper
                statswidget(hours="vm.statistics.hours" conversation="vm.statistics.conversation" people="vm.statistics.people")
        div.col-md-8
            .daily-progress-wrapper
                .graph-header.col-md-12
                    div.col-md-9
                        span.header-text
                            | Daily Progress
                        span
                            | Working Hours
                    div.col-md-3.pull-right
                        select.form-control.week-selection(ng-model="vm.pr_week_selected" ng-change="vm.timeline1_changed()")
                            option(ng-repeat="week_option in vm.week_options" value="{{ week_option.value }}")
                                | {{ week_option.label }}
                linegraph(labels="vm.progress.label" series="vm.progress.series" data="vm.progress.data" vline="false" fill="false")
    .row
        div.col-md-12
            span.header-text
                | Current Progress
            span
                | This table will show you how your current projects are behaving.
        div.col-md-12
            hr
    .row
        div.col-md-12
            .progress-list-wrapper
                progresslist(data="vm.project_summary")
    .row
        div.col-md-10
            span.header-text
                | Crunch some Numbers
            span
                | See how your projects are progressing via the new statistics engine.
        div.col-md-2.pull-right
            select.form-control.timeline-selection(ng-model="vm.timeline2_selected" ng-change="vm.timeline2_changed()")
                option(ng-repeat="timeline_option in vm.timeline_options" value="{{ timeline_option.value }}")
                    | {{ timeline_option.label }}
        div.col-md-12
            hr
    .row.stat-wrapper
        div.col-md-4
            .client-hours-wrapper
                .graph-header.col-md-12
                    span.header-text
                            | Client Hours
                        span
                            | Working Hours
                doughnutgraph(labels="vm.client_hours.labels" colors="vm.client_hours.colors" data="vm.client_hours.data")
                span.header-text.total-label
                    | {{ vm.client_hours.total }} Working Hours
                .legend-wrapper
                    div(ng-repeat="label in vm.client_hours.labels")
                        i.fa.fa-circle(style="color:{{ vm.client_hours.colors[$index] }}")
                        span
                            | {{ label }}
                        span
                            | {{ vm.client_hours.data[$index] }}
        div.col-md-4
            .client-invoice-wrapper
                .client-profile-wrapper
                    img.img-circle(src="{{ vm.client_invoice.profile_pic }}" alt="{{ vm.client_invoice.name }}")
                    span.header-text
                        | {{ vm.client_invoice.name }}
                    span
                        | {{ vm.client_invoice.location }}
                .table-row
                    .col-md-6
                        span.table-row-header
                            | Working Hours
                        span.table-row-value
                            | {{ vm.client_invoice.hours }}
                    .col-md-6
                        span.table-row-header
                            | Amount Total
                        span.table-row-value
                            | {{ vm.client_invoice.amount }}
                .table-row
                    .col-md-6
                        span.table-row-header
                            | Overdue
                        span.table-row-value
                            | {{ vm.client_invoice.overdue }}
                    .col-md-6
                        span.table-row-header
                            | % overall work
                        span.table-row-value
                            | {{ vm.client_invoice.overall }}
                .send-invoice-btn.col-md-12
                    a(href="#")
                        | Send Invoice
        div.col-md-4
            .total-overdue-wrapper
                .graph-header.col-md-12
                    span.header-text
                            | Total Overdue
                        span
                            | I need dollars
                span.header-text.total-label
                    | $ {{ vm.overdue.total }}
                linegraph(labels="vm.overdue.label" series="vm.overdue.series" data="vm.overdue.data" vline="false" fill="false")
                .export-btn
                    a(href="#")
                        | Export PDF