html, body
{
  font-family: 'Open Sans', sans-serif;
  background: #EFF3F6;
  color: #4C5E70;
  height: 100%;
}

/*Main Canvas*/
.main-canvas-wrapper
{
    height: 100%;
}
#main-canvas
{
    display: table;
    width: 100%;
    height: 100%;
    padding: 0;
}

.main-canvas-row
{
    display: table-row;
    height: 100%;
}

.main-canvas-cell
{
    display: table-cell;
    float: none;
    height: 100%;
}

#sidebar
{
    background: #4C5E70;
}

.logo img {
    max-width: 180px;
    padding: 16px 0 17px;
    width: 100%;
}
.hidden-xs{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.main-view
{
    width: 100%;
    height: 100%;
    padding: 40px;
}

hr
{
    width: 100%;
    border-top: 2px solid #D6DDE4;
}

.header-text
{
    display: block;
    font-weight: bold;
}

/*Navigator*/
.navigator
{
    background: transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sidebar-nav
{    
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 10px;
    line-height: 50px;
}

.sidebar-nav li i {
    padding-right: 15px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #efefef;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #3D4F60;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
    background: #2DC0E8;
    color: #fff;
}

/*Header*/
header
{
    height: 60px;
    padding: 15px;
    background: #D6DDE4;
}

.navbar-header
{
    background: #d6dde4;
}


.navbar-toggle
{
    padding: 0;
}

.header-top i {
    color: #0e1a35;
}

.icon-info {
    position: relative;
}

.label.label-primary {
    border-radius: 50%;
    font-size: 9px;
    left: 8px;
    position: absolute;
    top: -9px;
}

.icon-info .label {
    background: #FF4C79;
    font-weight: 500;
    padding: 3px 5px;
    text-align: center;
}

.header-top
{
    li {
        display: inline-block;
        text-align: center;
    }

    .dropdown-toggle {
        color: #0e1a35;
    }
    
    .dropdown-menu {
        border: medium none;
        left: -85px;
        padding: 17px;
    }
}