.statswidget
{
    .list-group-item
    {
        height: 135px;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        padding: 30px;

        > div
        {
            display: inline;

            .badge-wrapper
            {
                display: inline;
            }

            .statswidget-badge
            {
               border-radius: 50% 50% 50% 50%;
                text-align: center;
                font-size: 1em;
                height: 25px;
                width: 25px;
                color: white;
                display: inline-block;
                margin: 3px;
            }

            .statswidget-profile-pic
            {
                height: 25px;
                width: 25px;
                display: inline-block;
                margin: 3px;
            }
        }

        .graph-wrapper
        {
            width: 150px;
        }
    }
}