.statswidget
    .list-group
        .list-group-item
            div
                span.header-text
                    | {{ total_hours }}
                span
                    | Working Hours
            div.pull-right.graph-wrapper
                linegraph(labels="ghours_labels" series="ghours_series" data="ghours_data" xaxis="false" yaxis="false")
        .list-group-item
            div
                span.header-text
                    | {{ total_conversation }}
                span
                    | Conversations
            div.pull-right.graph-wrapper
                linegraph(labels="gconv_labels" series="gconv_series" data="conversation" xaxis="false" yaxis="false" fill="false")
        .list-group-item
            div
                span.header-text
                    | {{ people.length }}
                span
                    | People
            div.pull-right.graph-wrapper
                div.badge-wrapper(ng-repeat="person in people")
                    div(class="statswidget-badge" style="background-color: {{ person.color }}" ng-show="person.profile_pic === ''")
                        span
                            | {{ person.nickname }}
                    img.img-circle.statswidget-profile-pic(src="{{ person.profile_pic }}" alt="{{ person.nickname }}" ng-show="person.profile_pic !== ''")
        