.itemlist-container
{
    font-size: 0.9em;
    background: white;
    padding: 10px;
    margin-bottom: 10px;

    i
    {
        padding-right: 3px;
    }

    .progress
    {
        margin-top: 7px;
        height: 10px;
    }
}