.itemlist-container.col-md-12(ng-repeat="itm in data")
    img.project-image.col-md-1(src="{{ itm.image }}")
    .col-md-3
        span.header-text
            | {{ itm.title }}
        span
            | {{ itm.description }}
    .col-md-3
        span
            | Last updated {{ itm.last_updated }}
    .col-md-1
        i.fa.fa-clock-o
        span
            | {{ itm.duration }}
    .col-md-1
        i.fa.fa-comment-o
        span
            | {{ itm.conversation }}
    .col-md-3
        .progress
            .progress-bar(role="progressbar", aria-valuenow="{{ itm.progress }}", aria-valuemin="0", aria-valuemax="100", style="width: {{ itm.progress }}%;")
                span.sr-only 
                    | {{ itm.progress }}% Complete
    